{% comment %} ahora nteindo ya pero anile de nsoe de arquiteuta entiedo que dajngo lo amnej asi me hgust si preguntas pero lo que bsuco es algo mas como tal es teno como APiResponse osea uya lo tiene l Apiexcencion pero nso si sames  que me recio o a la fianlc reo que est aien se valcia  cada erros egun el coso no yo tnei algo asi en ndoe ts mira export class CustomError extends Error {
  constructor(
    public readonly statusCode: number,
    public readonly message: string
  ) {
    super(message);
  }
  static badRequest(message: string) {
    return new CustomError(400, message);
  }
  static unauthorized(message: string) {
    return new CustomError(401, message);
  }
  static forbidden(message: string) {
    return new CustomError(403, message);
  }
  static notFound(message: string) {
    return new CustomError(404, message);
  }
  static internalServe(message: string) {
    return new CustomError(500, message);
  }
}y se usn asi no cjec goof pro mi apret me gusta   async getCustomers(req: Request, res: Response) {
    try {
      const data = await this.customerService.findAllCustomers();
      if (data.length === 0) {
        return this.httpResponse.NotFound(res, "No existe dato");
      }
      return this.httpResponse.Ok(res, data);
    } catch (e) {
      console.error(e);
      return this.httpResponse.Error(res, e);
    }
  }  nsoe que opine shi lo amnejk asi en toro proyecto lo mane d eotr manera !?? nsoe qe opines !??? {% endcomment %}

